<article class="main-content">
	<header>
		<h1 class="site-title">PDF n Mail</h1>
	</header>
	<form id="mail-pdf">
		<h4>Type your message here and send mail with PDF.</h4>
		<fieldset>
			<div class="input-group">
				<label for="mail-to">To</label>
				<input class="input-field" type="email" id="mail-to" required="required" placeholder="Enter e-mail address"/>
			</div>
			<div class="input-group">
				<label for="mail-message">Your Message</label>
				<textarea class="input-field" id="mail-message" required="required" maxlength="140" placeholder="Remember, be nice and short like you tweet!"></textarea>
			</div>
		</fieldset>

		<button type="submit">Send</button>
	</form>

</article>
