<article class="main-content">
	<header>
		<hgroup>
			<h1>jsPDF to Mail</h1>

		</hgroup>
	</header>
	<form id="mail-pdf">
		<h4>Type your message here and send mail with PDF.</h4>
		<fieldset>
			<div>
				<label for="mail-to">To</label>
				<input type="email" id="mail-to" required="required" />
			</div>
			<div>
				<label for="mail-message">Your Message</label>
				<input type="text" id="mail-message" required="required">
			</div>
		</fieldset>

		<button type="submit">Send Mail</button>
	</form>

</article>
